
.stApp{
    background-color: #0A0D14;
    color:#fff;
}

[data-test-id="stSidebar"]{
    background-color: #111520;
}

.block-container,
.block-container * {
    font-family: 'AdobeClean',sans-serif !important;
}

/* layout */
.block-container{
    padding: 5px 3rem !important;
    max-width: 750px !important;
}

/* buttons */
button,
.stButton button,
.stDownloadButton button,
.MuiBox-root button{
    background-color: #181D2A !important;
    border: 1px solid rgba(255,255,255,0.08) !important;
    border-radius: 0 !important;
    font-family: 'AdobeClean',sans-serif !important;
}

/* input and text elements */
input,
textarea,p,li,code,
[data-testid ="stSelectbox"]>div>div,
[data-baseweb="select"]>div,
[data-baseweb = "popover"] ul,
[data-baseweb = "menu"] {
    border-radius: 0 !important;
    font-family: 'AdobeClean',sans-serif !important;
}

/* metrices */
[data-testid="stMetric"]{
    border-color: #181D2A;
    border: 1px solid rgba(255,255,255,0.08);
    padding: 1rem 1.2rem;
    border-radius: 0;
}

[data-testid="stMetric"] div{
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-testid="stMetricValue"]{
    font-size: 1.5rem !important;
    font-weight: 400 !important;
}

[data-testid="stMetricLabel"]{
    font-size: 15px !important;
    opacity: 0.6;
}

[data-testid="stMetric"] div label p{
    font-size: 16px !important;
}

/* Containers and Cards */

.stContainer,.stExpander,.stTabs,.stColumns,.stPopover,.stAlertContainer,.stStatusContainer,.stMetric, .stTable,.stDataFrame,.stForm,.stSelectBox,
[data-baseweb = "select"]> div,
[data-testid="stForm"],
[data-testid="stMetric"],
[data-testid="stNumberInputContainer"],
[data-testid="stDataFrameColumnMenu"],
[data-testid="stHeadingWithActionElements"],
[data-testid="stCaptionContainer"] p,
[data-baseweb="popover"],
[data-baseweb="menu"],
div[role="menu"],
div[role="menuitem"]{
    border-radius: 0 !important;
    font-family: 'AdobeClean',sans-serif !important;
}

/* dataframe fix */

.stDataFrame,.stDataFrame div,.stDataFrameGlideDataEditor{
    border-radius: 0 !important;
    font-family: 'AdobeClean',sans-serif !important;
}

/* Interactive Elements */

.stTextInput,.stTextArea,.stNumberInput,.stSlider,.stMultiselect,.stRadio,.stCheckbox,
.stToggle,.stFileUploader,.stColorPicker,.stDateInput,.stTimeInput,.stCameraInput,
[data-testid = "stTextInput"]>div,
[data-testid ="stButton"] button,
[data-testid = "stBaseButton-secondaryFormSubmit"],
[data-testid = "stStatusWidget"]{
    border-radius: 0 !important;
    font-family: 'AdobeClean',sans-serif !important;
}

/* Markdown */
[data-testid="stMarkdownContainer"] strong{
    font-family: 'AdobeClean',sans-serif !important;
}

/* form */
.stForm{
    margin-top: 2rem !important;
    padding: 1.5rem 1rem !important;
    background-color: #181D2A !important;
    color: #fff;
}